aiomysql==0.0.22
Django==3.2.12
IPy==1.01
paramiko==2.10.3
psycopg2==2.9.3
pycryptodome==3.14.1
pymssql==2.2.4
PyMySQL==0.9.3
redis==4.1.4
requests==2.25.1
urllib3==1.26.4
websockets==10.2
ws4py==0.5.1
